<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="style.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Group Chat</title>
</head>

<body>
    <div id="container" class="container">
        <div id="error"></div>
        <h1>Group Chat</h1>
        <hr>
        <h3>Conversation Board:</h3>
        <div id="message_board"></div>
        <h5>Users Online</h5>
        <div id="online_users"></div>
        <form action="" id="login_form">
            <input type="text" class="form-control" id="message" name="name" placeholder="Enter Your Message Here">
        </form>
        <hr>
        <button type="submit" id="button" class="btn btn-primary float-right">Send Message</button>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Configuring client side w/socket.io -->
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        // this triggers the connection event in our server!
        const socket = io.connect();

        var newUser = function() {
            var name = prompt("Name:");
            socket.emit("page_load", {
                name: name
            });
            current_user = true;
        }
        newUser();

        $('#button').click(function() {
            socket.emit('new_message', {
                message: $('#message').val()
            });
            $('#message').val('')
        })
        socket.on('new_user', function(data) {
            for (let key in data.users) {
                $("#online_users").append(`<p><b>${data.users[key]}</b></p>`);
            }
        });
        socket.on('post_message', function(data) {
            for (let i = 0; i < data.messages.length; i++) {
                $("#message_board").prepend(`<p>${data.messages[i].name} says: ${data.messages[i].message}`);
            }
        });
    </script>
</body>

</html>
