<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Socket Forms</title>
</head>

<body>
    <div class="container">
        <h1>Socket Forms1</h1>
        <hr>
        <form action="" id="form">
            <div class="form-group col-sm-6 mb-2">
                <label>Your Name</label>
                <input type="text" id="name" class="form-control" name="name" placeholder="Full Name">
            </div>
            <div class="form-group col-sm-6 mb-2">
                <label>Dojo Location</label>
                <select id="location" class="form-control" name="location">
                    <option value="" disabled selected>Select your option</option>
                    <option>Dallas</option>
                    <option>Washington DC</option>
                    <option>Seattle</option>
                    <option>San Fransisco</option>
                </select>
            </div>
            <div class="form-group col-sm-6 mb-2">
                <label>Favorite Language</label>
                <select id="language" class="form-control" name="language">
                    <option value="" disabled selected>Select your option</option>
                    <option>JavaScript</option>
                    <option>Python</option>
                    <option>Ruby</option>
                    <option>IOS</option>
                </select>
            </div>
            <div class="form-group col-sm-8 mb-2">
                <label>Comment (optional)</label>
                <textarea id="comment" class="form-control" rows="5" name="comment"></textarea>
            </div>
            <hr>
            <button class="btn btn-outline-primary" type="submit">Submit</button>
            <br>
            <br>
            <div id="message">

            </div>
            <br>
            <div id="randNum">

            </div>
        </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Configuring client side w/socket.io -->
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        // this triggers the connection event in our server!
        var socket = io.connect();
        // write all the socket stuff after the above line!
        // submit data to the server using emit
        $('#form').submit(function(e) {
            e.preventDefault();
            var formData = {
                name: $('#name').val(),
                location: $('#location').val(),
                language: $('#language').val(),
                comment: $('#comment').val()
            }
            socket.emit('posting_form', formData);
            console.log(formData);
        });


        //display the emit response of the server called "updated_message" and "random_number"
        socket.on('updated_message', function(data) {
            $('#message').html(`<b>You emitted the following information to the server:</b> ${JSON.stringify(data.response)}`);
        });
        socket.on('random_number', function(data) {
            $('#randNum').html(`<b>Your lucky number emmited from the server:</b> ${data.response}`);
        });
    </script>
</body>

</html>
