<div class="container">
  <h1>{{ title }}</h1>
  <div class="box" *ngFor="let color of colorArr" [ngStyle]="{ 'background-color' : color}"></div>
  <div class="box" *ngFor="let color of colorArr" [ngStyle]="{ 'background-color' : color}"></div>
  <div class="box" *ngFor="let color of colorArr" [ngStyle]="{ 'background-color' : color}"></div>
  <div class="box" *ngFor="let color of colorArr" [ngStyle]="{ 'background-color' : color}"></div>
  <div class="box" *ngFor="let color of colorArr" [ngStyle]="{ 'background-color' : color}"></div>
  <div class="box" *ngFor="let color of colorArr" [ngStyle]="{ 'background-color' : color}"></div>
  <div class="box" *ngFor="let color of colorArr" [ngStyle]="{ 'background-color' : color}"></div>
  <div class="box" *ngFor="let color of colorArr" [ngStyle]="{ 'background-color' : color}"></div>
  <div class="box" *ngFor="let color of colorArr" [ngStyle]="{ 'background-color' : color}"></div>
  <div class="box" *ngFor="let color of colorArr" [ngStyle]="{ 'background-color' : color}"></div>
</div>

