#nav {
    padding-left: 20%;
    padding-right: 20%;
}

h1 {
    width: auto;
}

h5 {
    display: inline-block;
    margin-left: 30px;
}

.badge {
    display: inline-block;
    float: right;
    margin-right: 30px;
    margin-top: 7px;
}
