#container {
    padding: 5px;
}

#message_board {
    border: 1px solid black;
    height: 300px;
    margin-bottom: 15px;
    overflow: auto;
    padding: 5px;
}

#online_users {
    border: 1px solid black;
    height: 200px;
    width: 25%;
    margin-bottom: 15px;
    overflow: auto;
    padding: 5px;
}
