h1 {
    font-size: 44pt;
    display: inline-block;
    margin-top: 50px;
}

.navbar {
    height: 60px;
    margin-left: 0px;
    position: fixed;
}

#first, #second {
    display: inline-block;
    border: 2px solid black;
    height: 300px;
    width: 49%;
    margin-bottom: 10px;
    overflow-x: scroll;
    border-radius: 15px;
}

#third, #fourth {
    display: inline-block;
    border: 2px solid black;
    height: 300px;
    width: 49%;
    overflow-x: scroll;
    border-radius: 15px;
}

#btn {
    display: block;
    position: fixed;
    margin-left: 60px;
}

#btn1 {
    display: block;
    margin-top: 30px;
}
