#valid {
  border: 1px solid black;
  border-radius: 7px;
  background: rgba(66, 169, 72, 0.8);
  margin-left: 15px;
  padding-left: 10px;
  padding-top: 10px;
  font: bold;
}
/* Creates borders to left of input that show required fields as red and green once completed */
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid rgb(66, 169, 72); /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

span.alert.alert-danger{
  padding: 5px 5px 5px 5px;
  margin-left: 15px;
}

label {
  margin-top: 5px;
}

div.form-row {
  padding-left: 17px;
}

label.form-check-label {
  margin-right: 10px;
}
