#quotes {
  height: 400px;
  overflow: auto;
}

#list {
  border: .5px solid silver;
  border-radius: 5px;
  width: 99%;
  height: 150px;
  padding: 1%;
  margin-bottom: 20px;
  background-color: rgb(234,241,245);
}

#content {
  overflow: auto;
  height: 90px;
  margin-bottom: 10px;
}

button {
  display: inline-block;
}

h5 {
  display: inline-block;
}
